:root {
  --gray-color: #EFEFEF;
  --green-color: #00CD7D;
  --red-color: #FF5F5F;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: white;
}

main {
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  margin-bottom: 90px;
}

hr {
  opacity: 17%;
}



/* @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  
    body a {
      color: #809fff;
    }
  } */